@media (max-width: 767px) {
  .widthFull {
    width: 375px;
  }
  .widthHalf {
    width: 187.5px;
  }
  .iconProfile {
    visibility: hidden;
  }
  .iconShopcart {
    visibility: hidden;
  }
  .margin_left {
    margin-left: 16px;
  }
  .margin_right {
    margin-right: 16px;
  }
  .header__list-item {
    float: right;
  }
  .container__block1-left {
    height: 179.83024025px;
  }
}
