.widthFull {
  width: 1600px;
}
.widthHalf {
  width: 800px;
}
.margin_left {
  margin-left: 230px;
}
.margin_right {
  margin-right: 230px;
}
.container__block1-left {
  height: 767.27569175px;
}
.container__block1-text {
  height: 93px;
}
.container__block1-right-bar {
  margin-left: 64px;
  margin-right: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.header {
  position: relative;
  height: 75px;
  margin: 0 auto;
}
.header__container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: BLACK;
  height: 75px;
}
.header__search {
  margin-left: 41px;
}
.header__list-item {
  height: 29px;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-flex;
}
.iconProfile {
  margin-left: 33px;
  margin-right: 33px;
}
.shopCart-count {
  font-size: 12px;
  position: relative;
  float: right;
  bottom: 23px;
  right: 8px;
  width: 19px;
  height: 19px;
  border-radius: 9.5px;
  text-align: center;
  line-height: 19px;
  background: #F16D7F;
  color: #FFFFFF;
}
.container {
  margin: 0 auto;
  width: 1600px;
}
.container__block1 {
  position: relative;
  display: flex;
  margin: 0 auto;
  justify-content: flex-start;
}
.container__block1-right-bar {
  height: 93px;
  width: 12px;
  background-color: #F16D7F;
}
.container__block1-text {
  align-items: center;
}
.container__block1-text1 {
  margin: 0;
  font-weight: 900;
  font-size: 48px;
  line-height: 57.6px;
}
.container__block1-text2 {
  font-weight: 700;
  font-size: 32px;
}
.container__menu {
  position: absolute;
  right: 0;
  background-color: #FFFFFF;
  width: 232px;
  height: 764px;
}
.container__menu {
  visibility: hidden;
}
.container__menu {
  position: absolute;
  right: 0;
  background-color: white;
  width: 199px;
  height: 766px;
  padding-left: 33px;
}
.container__block1:hover .container__menu {
  visibility: visible;
  z-index: 2;
  box-shadow: 2px 7px 7px 0px rgba(0, 0, 0, 0.1);
}
.container__block2 {
  width: 1140px;
  margin: 63px auto 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container__block2-item {
  width: 360px;
  text-align: center;
}
.container__block2-item-textbox {
  width: 360px;
  height: 260px;
}
.container__block2-item:hover .container__block2-item-textbox {
  background: rgba(33, 22, 22, 0.7);
  visibility: visible;
}
.container__block2-item-text1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
}
.container__block2-item-text2 {
  font-weight: 700;
  font-size: 24px;
}
.container__block2-item4 {
  margin-top: 30px;
  width: 1140px;
  height: 180px;
}
.container__block2-item-textbox4 {
  width: 1140px;
  height: 180px;
}
.container__block3 {
  width: 1140px;
  height: 203px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.container__block4 {
  width: 1140px;
  margin: auto;
  justify-content: space-between;
}
.container__block4-item {
  width: 360px;
  height: 581px;
  margin-bottom: 30px;
}
.ccontainer__block4-item2-image {
  height: 420px;
}
.container__block4-item2-image img {
  margin-top: 9px;
}
.container__block4-item-text {
  margin-left: 16.46px;
}
.container__block4-item-text1 {
  margin-top: 25.35px;
  font-size: 13px;
}
.container__block4-item-text2 {
  margin-top: 12.65px;
  font-weight: 300;
  line-height: 17px;
  font-size: 14px;
  width: 314px;
}
.container__block4-item-text3 {
  font-size: 16px;
  margin-top: 18px;
}
.container__block4-item-overlay {
  width: 360px;
  height: 420px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__block4-item-overlay-cart {
  display: flex;
  align-items: center;
  height: 43px;
  width: 138px;
  justify-items: center;
  justify-content: space-around;
  color: #FFFFFF;
}
.container__block4-item-overlay-cart img {
  height: 26px;
  width: 24px;
}
.container__block4-item-1:hover .container__block4-item-overlay-1 {
  visibility: visible;
}
.container__block4-item-2:hover .container__block4-item-overlay-2 {
  visibility: visible;
}
.container__block4-item-3:hover .container__block4-item-overlay-3 {
  visibility: visible;
}
.container__block4-item-4:hover .container__block4-item-overlay-4 {
  visibility: visible;
}
.container__block4-item-5:hover .container__block4-item-overlay-5 {
  visibility: visible;
}
.container__block4-item-6:hover .container__block4-item-overlay-6 {
  visibility: visible;
}
.container__block4-browse {
  margin: 0 auto;
  width: 211px;
  height: 47px;
  line-height: 47px;
  text-align: center;
  border: 1px solid #FF6A6A;
  font-size: 16px;
  color: #F26376;
  text-decoration: none;
  margin-bottom: 109px;
}
.container__block4-browse:hover {
  color: #ffffff;
  border: 1px solid #FFFFFF;
  background-color: #F16D7F;
}
.container__block5 {
  width: 1600px;
  height: 341px;
}
.container__block5-box {
  margin: 0 auto;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.container__block5-item {
  margin: 103px;
  width: 360px;
}
.container__block5-text1 {
  margin-top: 28px;
  font-size: 20px;
  line-height: 24px;
}
.container__block5-text2 {
  width: 360px;
  font-weight: 300;
  margin-top: 16px;
  font-size: 14px;
  line-height: 16.77px;
}
