@import 'variables';
@import 'mixin';

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    width: 1600px;
    margin: 0 auto;
    position: relative;
}

.main-header {
    display: none;
}

section,
header,
footer,
nav,
h1,
p {
    margin: 0 auto;
    padding: 0;
}

.margin230 {
    margin: 0 230px 0 230px;
}

button {
    padding: 0;
    border: none;
    background: none;
}

a {
    text-decoration: none;
    color: #222222;
}

ul {
    list-style: none;
}

.display-none {
    display: none;
}

.hidden {
    visibility: hidden;
}

.color-pink {
    color: #F16D7F;
}

.italic {
    font-style: italic;
}

@import 'header';
@import 'navigation';

.header:hover .nav {
    visibility: visible;
}

@import 'footer';
@import 'headline';
@import 'checkout';